* {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@700&family=Raleway:ital,wght@1,700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    color: #1B262C;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    margin-right: 60px;
}

.navbar-nav .nav-link {
    margin-left: 30px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #F77796;
}

.bg-color {
background-color: #F77796;
max-height: 42em;
}

.btn-shop:hover{
 color: #F77796;
}

/* For Small Devices */
.form-control {
    margin-left: 30px;
    width: 70%;
}

.judul-utama {
    font-weight: 700;
    color: #FAF4F4;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 2em;
}

.desc-judul {
    color: #FAF4F4;
    line-height: 1.6;
    font-size: 1em;
}

.btn-shop {
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    color: #393E46;
    font-size: 1.2em;
    padding: 15px 0;
    margin-top: 390px;
    width: 100%;
}

.hero-img {
    position: relative;
    height: 400px;
    top: -490px;
 }

 .baris-satu {
     margin-top: 70px;
 }

 /* Style For Baris Dua */
 .baris-dua {
    margin-top: 50px;
}

.product, .collection {
    text-transform: uppercase;
    color: #F77796;
    font-weight: 700;
    font-size: 1.4em;
}

/* Style For Baris Tiga*/

.baris-tiga {
    margin-top: 10px;
}

.badge {
    font-size: 1em;
    padding: 12px 24px;
    margin-right: 15px;
    margin-top: 10px;
}

.badge.badge-pill.product-active{
    background-color: #FFF9DD;
    color: #D0AB00;
    margin-right: 7.5px;
}

.badge.badge-pill.product-nonactive, .collection-nonactive{
    background-color: #FFFFFF;
    color: #979797;
}

.see-all {
    color: #979797;
    position: relative;
    top: -46px;
    font-size: 1em;
}

/* Style Baris Empat */
.baris-empat, .baris-lapan{margin-top: 10px;}
.product-img{
    height: 12.5em;
    margin-top: 50px;
    border-radius: 0.8em;
}

.product-img:hover {
    background-color: #F2F3F5;
    /* box-shadow: 4px 6px 12px 0px rgba(136,136,136,0.3); */
}

.product-title {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    color: #979797;
    margin-top: 30px;
}

.product-price {
    font-size: 1em;
    font-weight: 700;
}

/* style baris lima */
.baris-lima {
    margin-top: 100px;
    margin-bottom: 100px;
}

.swiper-container {
    height: 200px;
}

.swiper-slide {
    text-align: center;
    background: #fff;

    display: flex;
    align-items: center;
    border-radius: 0.8em;
}

.product-slide {
    height: auto;
    width: 100%;
}

.slider-img {
    height: 10em;
    width: auto;
}

.desc-slider {
    text-align: left;
    font-size: 1.125em;
    font-weight: 700;
}

.bg-1-slider {background-color: #C9E9E9;}
.color-slider-1 {color: #27A8A9;}
.bg-btn-1{background-color: #27A8A9;}


.bg-2-slider{background-color: #FCFAF1;}
.color-slider-2 {color: #D0AB00;}
.bg-2-btn{background-color: #D0AB00;}

.bg-3-slider{background-color: #F6DBEC;}
.color-slider-3{color: #D03F9B;}
.bg-btn-3{background-color: #D03F9B;}

.btn-shop-slider {
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1.875em;
}

.btn-shop-slider:hover{
    text-decoration: none;
    color: #FFFFFF;
}

/* Baris enam */

/* Baris Tujuh */
.baris-tujuh{margin-top: 10px;}

.badge.badge-pill.reflection{
    background-color: #F6DBEC;
    color: #D03F9B;
    margin-right: 15px;
}

.badge.badge-pill.blond{
    background-color: #D4D5F3;
    color: #8386DD;
}

/* Baris Sembilan */
.baris-sembilan {
    margin-top: 100px;
    margin-bottom: 50px;
}

.testi {
    color: #393E46;
    font-weight: 700;
    font-size: 0.7em;
}
strong.testi{
    color: #F77796;
    font-size: 0.7em;
}

/* Baris Sepuluh */
.baris-sepuluh {
    margin-bottom: 50px;
}

.testimonial-carousel-list {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.testimonial-word h2 {
    font-size: 1em;
    text-transform: uppercase;
    color: #24b662;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 20px 0px;
}

.testimonial-word p {
    line-height: 25px;
}

.google-review {
    height: 3.2em;
}

/* Baris Sebelas */
footer {
    background-color: #F8F8F8;
    color: #1B262C;
    padding: 2em;
}

footer h5, .subscribe {
    font-weight: 700;
    line-height: 35px;
}

.title-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

footer h6 { margin-bottom: 50px;}

.copy-right{
    line-height: 30px;
    color: #979797;
}

.about-kerasune, .shopping-guide {
    line-height: 40px;
    color: #979797;
    font-weight: 400;
}

.address{
    color: #979797;
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
}

.row-mail{
    margin-left: -45px;
}

input[type=email] {
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 8px 0px rgba(136,136,136,0.3);
}

.my-whatsapp{margin-top:10px;}
.whatsapp{
    position:fixed;
    width:45px;
    height:45px;
    bottom:30px;
    right:30px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.whatsapp:hover{color: #FFFFFF;}
.material-icons.md-24 {font-size: 24px;}

/* For Large to Extra Large Devices */
@media (min-width: 576px) { 
    .bg-color {max-height: 36.5em; }
    .desc-judul {font-size: 1.5em;}
    .hero-img {height: 37em;top: 0px; }

    .btn-shop {
        margin-top: 30px;
        padding: 10px 0;
        font-size: 1.125em;
        width: 31%;
    }

    .product, .collection {font-size: 2em;}
    .testi {font-size: 0.8em;}
    strong.testi{font-size: 0.8em;}
    .see-all {top: 0;}
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .slider-img {height: 25em;}
    .desc-slider {font-size: 3.2em;}
    .testimonial-word h2 {font-size: 1.2em;}
    .testimonial-word p {font-size: 1.2em;}
    .google-review {height: 4em;}
    .copy-right{margin-top: 60px;}
    footer h6 {margin-bottom: 10px;}
    .title-footer {font-size: 2em;}
    input[type=email] {padding: 8px 12px;}
    .about-kerasune, .shopping-guide {line-height: 55px;}
    .subscribe{margin-left: 30px;}
    .row-loct{margin-left: 10px;}
    .row-mail {margin-left: -15px;}
    .material-icons.md-36 {font-size: 36px;}
    .my-whatsapp{margin-top:12px;}
    .whatsapp{
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
    }
}